extends layout

block hero-unit
  .jumbotron
    .container
      h1 AIRBNB

block content
  .container
    .row
      .col-md-6
        h3 숙소
        p 본 서비스는 호스팅과 예약 기능을 제공한다. 
      .col-md-6
        h3 트립
        ul
          li 사용자 관리
          li 호스팅목록
          li 나의 호스팅
          li 예약목록
  
